body {
	background-color: black;
}

.eye {
    position: absolute;
    bottom: 25vh;
    
    height: 25vw;
    width: 25vw;
    
    border-radius: 50%;
    border: 1px solid black;
/*    background-color: white;*/
    background: radial-gradient(#ffffff 40%, #ffbbbb);
    
/*    transition: transform 0.2s;*/
}

.iris {
    position: absolute;
    bottom: 45%;
    left: 25%;
    
    height: 50%;
    width: 50%;
    
    background-color: lightcoral;
    border-radius: 50%;
}

.pupil {
    position: absolute;
    bottom: 70%;
    left: 40%;
    
    height: 20%;
    width: 20%;
    
    background-color: red;
    border-radius: 50%;
}

#eye-left {
    left: 13vw;
}
#eye-right {
    left: 44vw;
}